<h1><%= @comics.title%></h1>
<br>
<img src="<%= @comics.image_url %>" alt="<%= @comics.title %>" height="150" width="150">
<br>
<h2><%= @comics.blurb %></h2>
<h4><%= @comics.user.username%></h4>
<br>
<br>

